@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-frame {
  background-color: transparent;
}

@media screen and (min-width: 1024px) {
  .hero-frame {
    background-image: url("./assets/image/frame.png");
    background-size: cover;
  }
}
